@charset "utf-8";
/* CSS Document */

html, body {
	width: 100%;
	min-width:700px
	height: 100%;
	background-color: #191313;
}
h2, h3, h4，h5 {
	font-size: 50px;
	line-height: 25px;
	color: #D44431;
	text-transform: none;
	font-weight: 300;
	letter-spacing: -1px;
}
h2 {
	line-height: 65px;
}
h3 {
	font-size: 18px;
	line-height: 30px;
	margin: 10px 0 10px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}
h4, h5 {
	font-size: 12px;
	color: rgba(65,65,65,1.00);
	font-weight: 600;
	letter-spacing: -1px;
}
h5 {
	float: left;
	margin-top: 5px;
}
p{
	color:#999;
}
.line {
	border-left-style: solid;
	border-width: 0.5px;
	border-left-color: rgba(70,68,68,1.00);
	color: rgba(70,68,68,1.00);
}
.navtop {
	background-color: #DB420E;
}
.line p {
	margin-left: 30px;
}
.grey_bar {
	height: 20px;
	background-color: rgba(225,225,225,1.00);
	border-top: 1px dashed #8c8b8b;
	margin-bottom: 20px;
}
.top_title {
	text-align: center;
	vertical-align: middle;
	margin-bottom: 25px;
	overflow: hidden;
}
.more_movie {
	float: right;
	margin-top: -15px;
	margin-right:30px;
	color: #000000;
	text-decoration: none;
}
.more_movie :hover {
	text-decoration: none;
	color: #999;
	text-shadow: 0.5px 0.5px 0.5px #999;
}
.white_block {
	background-color: rgba(255,255,255,1.00);
}
.movie_border {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	padding: 10px 10px 10px 10px;
	width: 240px;
	height: 320px;
}
.movie_border img {
	width: 220px;
	height: 300px;
}
.movie_border:hover img {
	opacity: 0.8;
}
/* nav */ 
.nav_title {
	background-color: #DB420E;
	padding-left: 20px;
	overflow: hidden;
}
.nav_title img {
	float: left;
	position: relative;
}
.nav {
	position: absolute;
	margin: 0px 0px 0px 450px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	background-color: transparent;
	padding: 34px 0 34px 0;
	float: right;
}
.nav ul {
	margin: 0;
	padding: 0;
}
.nav li {
	margin: 0 35px 0px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
.nav a {
	background-color: transparent;
	padding: 34px 20px 34px 20px;
	text-decoration: none;
	color: #fff;
	line-height: 100%;
	margin-left: 0px;
}
.nav a:hover {
	background: #191313;
}
.nav .current a {
	background: #191313;
	color: #fff;
}
.btn-btn{
	background-color:#DB420E;
	color:#ffffff;
	border: none;
	width:150px;
	height:35px;
	border-radius: 5px;
}
.btn-btn:hover{
	background-color:#DB420E;
	opacity: 0.8;
	border: none;
}

.button_block{
	text-align:center; 
	padding-top:20px;
	margin-bottom: 30px;
}
/* Response nav codind*/
@media screen and (max-width: 1000px) {
.nav_title {
	margin-bottom: 60px;
}
.nav {
	position: absolute;
	min-height: 20px;
	margin-left: 450px;
}
.nav ul {
	width: 120px;
	padding: 0px 0;
	position: absolute;
	color: #fff;
}
.nav li {
	display: none; /* hide all <li> items */
	margin: 0;
}
.nav .current {
	display: block; /* show only current <li> item */
	height: 30px;
	border: solid 1px #aaa;
	border-radius: 5px;
}
.nav a {
	display: block;
	padding: 5px 5px 5px 32px;
	text-align: left;
	background-color: transparent;
}
.nav .current a {
	background: none;
	color: #ffffff;
}
/* on nav hover */  
.nav ul:hover {
	background-image: none;
}
.nav ul:hover li {
	display: block;
	margin: 0 0 5px;
	background: #DB420E;
	border: solid 1px #aaa;
	border-radius: 5px;
}
.nav ul:hover .current {
	background: #191313;
	color: #ffffff;
}
/* right nav */  
.nav.right ul {
	left: auto;
	right: 0;
}
/* center nav */  
.nav.center ul {
	left: 50%;
	margin-left: -90px;
}
}

.top_movie {
	overflow: hidden;
	justify-content: center;
	display: flex;
}
.top_img {
	margin-right: 30px;
	margin-bottom: 20px;
}
/*Search Block*/
.black_block {
	background: #191313;
}
.black_block img {
	float: left;
	margin:0px 50px 10px 30px;
}
.search_block button {
	width: 120px;
	float: right;
}
input, textarea {
	padding: 5px;
	margin: 0px 40px 20px 10px;
	color: #999;
	border-radius: 3px;
	border: 1px solid #ccc;
}
input[type=text]:focus, textarea:focus {
	outline: none;
	border-color: #D44431;
	-webkit-box-shadow: 0 0 8px #D44431;
	-moz-box-shadow: 0 0 8px #D44431;
	-o-box-shadow: 0 0 8px #D44431;
	box-shadow: 0 0 8px #D44431;
	-webkit-transition: border linear .2s, -webkit-box-shadow linear .5s;
	-moz-transition: border linear .2s, -moz-box-shadow linear .5s;
	-o-transition: border linear .2s, -o-box-shadow linear .5s;
	transition: border linear .2s, box-shadow linear .5s;
}
.result_block{
	width:100%;
	text-align:left;
    overflow: hidden;
	margin-bottom: 30px;
}
.result_table {
    border-bottom:0px !important;
	font-size:28px;
	min-width:700px;
	width:100%;
	height:30px;
	table-layout:fixed;
}

.result_table th {
	table-layout:fixed;
	width:230px;
}
.result_table td{
	font-size:20px;
    border-bottom: 1px dashed #8c8b8b;
	border-top: 1px dashed #8c8b8b;
}
.result_block img {
	width: 100px;
	height: 130px;
　　border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
	float:left;
	margin-left:0px;
}

.result_table td img:hover{
	opacity: 0.7;
	border: 1px dashed #DB420E;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
	margin-right:auto;
	margin-left:auto;
	margin-top:100px;
    padding:40px 10px 10px 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 70%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 400px;
    width: 80%;
    max-width: 300px;
    width: 50%;
    max-width: 300px;
    width: 50%;
    max-width: 300px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 300px;
	margin-top:80px;
	margin-left:200px;
    text-align:center;
    color: #ccc;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 50%;
    }
}




