@charset "utf-8";
/* CSS Document */

html, body {
	width: 100%;
	height: 100%;
	min-width: 982px;
	background-color: #191313;
}
h1{
  font-size: 30px;
  line-height: 34px;
  text-align:left;
  font-weight: normal;
  color: #D44431;
}
h2, h3, h4，h5 {
	font-size: 50px;
	line-height: 25px;
	color: #D44431;
	text-transform: none;
	font-weight: 300;
	letter-spacing: -1px;
}
h2 {
	line-height: 65px;
}
h3 {
	font-size: 17px;
	line-height: 30px;
	margin: 10px 0 10px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}
h4, h5 {
	font-size: 12px;
	color: rgba(65,65,65,1.00);
	font-weight: 600;
	letter-spacing: -1px;
}
h5 {
	float: left;
	margin-top: 5px;
}
p{
	color:#999;
	font-size: 18px;
}
.line {
	border-left-style: solid;
	border-width: 0.5px;
	border-left-color: rgba(70,68,68,1.00);
	color: rgba(70,68,68,1.00);
}

.line p {
	margin-left: 30px;
}
.grey_bar {
	height: 20px;
	background-color: rgba(225,225,225,1.00);
	border-top: 1px dashed #8c8b8b;
	margin-bottom: 20px;
}
.top_title {
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}
.more_movie {
	float: right;
	margin-top: -15px;
	margin-right:30px;
	color: #000000;
	text-decoration: none;
}
.more_movie :hover {
	text-decoration: none;
	color: #999;
	text-shadow: 0.5px 0.5px 0.5px #999;
}
.white_block {
	background-color: rgba(255,255,255,1.00);
}
.movie_border {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	padding: 10px 10px 10px 10px;
	width: 240px;
	height: 320px;
}
.movie_border img {
	width: 220px;
	height: 300px;
}
.movie_border:hover img {
	opacity: 0.8;
}
/* nav */ 
.nav_title {
	background-color: #DB420E;
	padding-left: 20px;
	overflow: hidden;
}
.nav_title img {
	float: left;
	position: relative;
}

/*button style*/
.btn-btn{
	background-color:#DB420E;
	color:#ffffff;
	border: none;
	width:150px;
	height:35px;
	border-radius: 5px;
}
.btn-btn:hover{
	background-color:#DB420E;
	opacity: 0.8;
	border: none;
}

.button_block{
	text-align:center; 
	padding-top:20px;
	margin-bottom: 30px;
}

.input_block{
	width:100%;
}

/* Response nav codind*/
@media screen and (max-width: 1000px) {
.nav_title {
	margin-bottom: 60px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
	margin-right:auto;
	margin-left:auto;
	margin-top:5%;
    padding:40px 10px 10px 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0,1); /* Fallback color */
    background-color: rgba(0,0,0,1); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 300px;
}
}

@media only screen and (min-width: 1213px){
.img_area{
    display:flex;
    justify-content:center;
    align-items: center;
	overflow: hidden;
}
/*Img block*/
.img_block {
	background: #FFFFFF;
	height: 460px;
	width: 290px;
	padding: 20px 20px 20px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	margin-bottom: 30px;
}
.img_block_img img{
    position: relative;
	width: 250px;
	height: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}	

.img_block_img:hover img{	
    opacity: 0.8;
}

.right_space{
	margin-right:40px;
}

/* nav */ 
.nav_title {
	background-color: #DB420E;
	padding-left: 20px;
	overflow: hidden;
}
.nav_title img {
	float: left;
	position: relative;
}
}


/*response for phone screen*/
@media only screen and (min-width:500px) and (max-width: 1213px){
.img_area{
	overflow: hidden;
	padding-left: 5%;
}
.img_block {
	position: relative;
	border: 1px solid darkgrey;
	background: #FFFFFF;
	width: 40%;
	height: 100%;
	padding: 20px 20px 20px 20px;
	overflow: hidden;
	margin: 30px 0px 0px 30px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	bottom: 30px;
}
.img_block_img img{
    position: relative;
	width: 100%;
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}	

.img_block_img:hover img{	
    opacity: 0.8;
}

.right_space{
	margin-right:5%;
}
h2 {
	font-size: 85px;
	line-height:80px;
}
.more_movie{
    font-size:20px;
	margin:25px 0px 10px 0px;
}
p{
	font-size:20px; 
 	margin:20px 0px 20px 0px;
}

.btn-btn{
   width:50%;
   height:55px;
   font-size:20px;
   margin-left: 5px;
}
.input_block{
 font-size:25px;
}

}

.top_movie {
	overflow: hidden;
	justify-content: center;
	display: flex;
	margin-left:10px;
	margin-right:10px;
}
.top_img {
	margin-right: 30px;
	margin-bottom: 20px;
}
/*Search Block*/
.black_block {
	background: #191313;
}
.black_block img {
	float: left;
	margin:0px 50px 10px 30px;
}
.search_block button {
	width: 120px;
	float: right;
}
input, textarea {
	padding: 5px;
	margin: 0px 40px 20px 10px;
	color: #999;
	border-radius: 3px;
	border: 1px solid #ccc;
}
input[type=text]:focus, textarea:focus {
	outline: none;
	border-color: #D44431;
	-webkit-box-shadow: 0 0 8px #D44431;
	-moz-box-shadow: 0 0 8px #D44431;
	-o-box-shadow: 0 0 8px #D44431;
	box-shadow: 0 0 8px #D44431;
	-webkit-transition: border linear .2s, -webkit-box-shadow linear .5s;
	-moz-transition: border linear .2s, -moz-box-shadow linear .5s;
	-o-transition: border linear .2s, -o-box-shadow linear .5s;
	transition: border linear .2s, box-shadow linear .5s;
}
.result_block{
	width:100%;
	text-align:left;
    overflow: hidden;
	margin-bottom: 50px;
}
.result_table {
    border-bottom:0px !important;
	font-size:28px;
	min-width:700px;
	width:100%;
	height:30px;
	table-layout:fixed;
}

.result_table th {
	table-layout:fixed;
	width:200px;
}
.result_table td{
	font-size:19px;
    border-bottom: 1px dashed #8c8b8b;
	border-top: 1px dashed #8c8b8b;
	width:200px;
}
.result_block img {
	width: 100px;
	height: 130px;
　　border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
	float:left;
	margin-left:0px;
}

.result_table td img:hover{
	opacity: 0.7;
	border: 1px dashed #DB420E;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
	margin-right:auto;
	margin-left:auto;
	margin-top:30px;
    padding:40px 10px 10px 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 500px; /* Full width */
	height: 700px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0,1); /* Fallback color */
    background-color: rgba(0,0,0,1); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
	margin-top:30px;
    width: 350px;
    max-width: 400px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 70%;
	margin-top:5px;
    text-align:center;
    color: #ccc;
	font-size:20px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 600px){
    .modal-content {
        width: 80%;
    }
}


/*fadeInUp*/
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: none;
}

.row-2 {
	background:#eee;
	text-align:center;
	border-top:2px dashed #ccc;
	border-bottom:2px dashed #ccc;
	font-style:italic;
    margin-top:-20px;
	padding-bottom: 50px;
	width: 100%;
}

.row-2 p{
	  color: grey;
  padding: 3px 0 10px;
  font-size: 20px;
  text-align: left;
}

/*------ footer ------- */
footer {
  background: #ffffff;
  overflow: hidden;
  color:darkgray;
  height: 150px;
}
footer p{
	text-align: center;
	margin-left:30px;
}
footer ul,li{
	list-style:none;
	margin-top: 20px;
}

.icon-1,.icon-2,.icon-3,.icon-4,.icon-5{
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-position: 0 0;
  background-repeat: no-repeat;
  float:right;
  margin-right:30px;
  position: relative;
 
}
.icon-1 {
  background-image: url(../img/soc-icon-1.png);	 
}
.icon-2 {
  background-image: url(../img/soc-icon-2.png);
}
.icon-3 {
  background-image: url(../img/soc-icon-3.png);
}
.icon-4 {
  background-image: url(../img/soc-icon-4.png);
}
.icon-5 {
  background-image: url(../img/soc-icon-5.png);
}
/*hover*/
.icon-1:hover{
  background-position: 0 bottom;
}
.icon-2:hover {
  background-position: 0 bottom;
}
.icon-3:hover{
  background-position: 0 bottom;
}
.icon-4:hover{
  background-position: 0 bottom;
}
.icon-5:hover{
  background-position: 0 bottom;
}



.wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}
.img-indent {
  margin: 0px 30px 0 0;
  float: left;
}
.inner-1 {
  padding-right: 30px;
}
 .overflow.extra {
    overflow: hidden;
  }
.txt-1 {
  color: grey;
  padding: 3px 0 10px;
  font-size: 18px;
  text-align: left;
}