@charset "utf-8";
/* CSS Document */

html, body {
	width: 100%;
	width: 100%;
	height: 100%;
	background-color: #191313;
}
h2, h3, h4，h5{
	font-size: 50px;
	line-height: 25px;
	color: #D44431;
	text-transform: none;
	font-weight: 300;
	letter-spacing: -1px;
}
h2 {
	line-height: 65px;
}
h3 {
	font-size: 20px;
	line-height: 34px;
	margin: 10px 0 10px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}
h4,h5{
	font-size: 13px;
	color: rgba(65,65,65,1.00);
	font-weight: 600;
	letter-spacing: -1px;
}

h5{
	float:left;
	margin-top:5px;
}
.line {
	border-left-style: solid;
	border-width: 0.5px;
	border-left-color: rgba(70,68,68,1.00);
	color: rgba(70,68,68,1.00);
}
.line p {
	margin-left: 30px;
}
.btn_login {
	color: #fff;
	background: #F25C27;
	padding: 5px 14px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-shadow: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn_login :hover {
	color: #fff;
	background: #DB420E;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-decoration: none;
}
.grey_bar {
	height: 20px;
	background-color: rgba(225,225,225,1.00);
	border-top: 1px dashed #8c8b8b;
}
.top_movie_title {
	text-align: center;
	vertical-align: middle;
	margin-bottom: 25px;
}
.white_block {
	background-color: rgba(255,255,255,1.00);
}
.movie_border {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	padding: 10px 10px 10px 10px;
	width: 270px;
	height: 370px;
}
.movie_border img {
	width: 250px;
	height: 350px;
}
.movie_border:hover img {
	opacity: 0.8;
}